extends layout

block content

  h1 ID: #{bookInstance._id}

  p #[strong Title:]
    a(href=bookInstance.book.url) #{bookInstance.book.title}
  p #[strong Imprint:] #{bookInstance.imprint}

  p #[strong Status:]
    if bookInstance.status=='Available'
      span.text-success #{bookInstance.status}
    else if bookInstance.status=='Maintenance'
      span.text-danger #{bookInstance.status}
    else
      span.text-warning #{bookInstance.status}

  if bookInstance.status!='Available'
    p #[strong Due back:] #{bookInstance.dueBackFormatted}

  p(class="p-8 flex")
    		a(href=bookInstance.url+'/delete' class="bg-blue-700 p-2 rounded-md text-white hover:bg-blue-500 self-center") Delete Book Instance
	p(class="p-8 flex")
    		a(href=bookInstance.url+'/update' class="bg-blue-700 p-2 rounded-md text-white hover:bg-blue-500 self-center") Update Book Instance

