extends layout

block content
	h1(class="text-4xl font-bold pb-2") Genre: #{genre.category}

	div(class="ml-5 mt-5")
		h4(class="text-2xl text-blue-700") Books

		dl
			each book in genreBooks
				dt(class="text-xl text-blue-500") 
					a(href=book.url) #{book.title}
				dd(class="text-lg pl-2") #{book.summary}

			else
				p This genre has no books
	hr
	p(class="p-8 flex")
		a(href=genre.url+'/delete' class="bg-blue-700 p-2 rounded-md text-white hover:bg-blue-500 self-center") Delete Genre
	p(class="p-8 flex")
		a(href=genre.url+'/update' class="bg-blue-700 p-2 rounded-md text-white hover:bg-blue-500 self-center") Update Genre
